'scopeName': 'text.phrancis_notes'
'name': 'Phrancis Notes'
'fileTypes': [
    'txt'
    'pnote'
]

'patterns': [
    { 'include': '#keywords' }
    { 'include': '#comments' }
    { 'include': '#identifier' }
    {
        'match': '~.*~'
        'name': 'phrancis_notes.heading'
    }
    {
        'begin': '"'
        'end': '"'
        'name': 'markup.quote'
    }
    {
        'begin': '<code>'
        'end': '</code>'
        'name': 'phrancis_notes.code'
        'patterns': ['include': '#slash-comment']
    }
]

'repository':
    'identifier':
        'match': '`.*`'
        'name': 'entity.name.function'

    'todo':
        'match': '(@TODO)|(\\^temp)|(\\^staging)'
        'name': 'phrancis_notes.keyword.todo'

    'completed':
        'match': '(@COMPLETED)|(@RESOLVED)|(@DONE)'
        'name': 'phrancis_notes.keyword.completed'

    'question':
         'match': '(@QUESTION)|(@UPDATE)|(@EXAMPLE)|(\\^dev)'
         'name': 'phrancis_notes.keyword.question'

    'important':
        'match': '(@IMPORTANT)|(@EXCEPTION)|(\\^production)'
        'name': 'phrancis_notes.keyword.important'

    'warning':
        'match': '(@WARNING)|(@DANGER)|(@ERROR)|(\\^NoUndo)'
        'name': 'phrancis_notes.keyword.warning'

    'note':
        'match': '(@NOTE)|(\\*\\w+)'
        'name': 'phrancis_notes.keyword.note'

    'future':
        'match': '(@FUTURE)|(@TOLEARN)'
        'name': 'phrancis_notes.keyword.future'

    'keywords':
        'patterns': [
            { 'include': '#todo' }
            { 'include': '#completed' }
            { 'include': '#question' }
            { 'include': '#important' }
            { 'include': '#warning' }
            { 'include': '#note' }
            { 'include': '#future' }
        ]

    'allowed-in-comments':
        'patterns': [
            { 'include': '#identifier' }
            { 'include': '#keywords' }
        ]

    'slash-comment':
        'begin': '//'
        'end': '$'
        'name': 'comment.line.double-slash.phrancis_notes'
        'patterns': ['include': '#allowed-in-comments']

    'bracket-comment':
        'begin': '\\['
        'end': '\\]'
        'name': 'comment.block.phrancis_notes'
        'patterns': ['include': '#allowed-in-comments']

    'curly-braces-comment':
        'begin': '{'
        'end': '}'
        'name': 'comment.block.phrancis_notes'
        'patterns': ['include': '#allowed-in-comments']

    'comments':
        'patterns': [
            { 'include': '#slash-comment' }
            { 'include': '#bracket-comment' }
            { 'include': '#curly-braces-comment' }
        ]
