'scopeName': 'text.phrancis_notes'
'name': 'Phrancis Notes'
'fileTypes': [
    'txt'
    'pnote'
]

'patterns': [
    {
        'begin': '~'
        'end': '~'
        'name': 'phrancis_notes.heading'
    },
    {
        'begin': '"'
        'end': '"'
        'name': 'markup.quote'
    },
    {
        'begin': '`'
        'end': '`'
        'name': 'entity.name.function'
    },
    {
        'begin': '\\$'
        'end': '\\$'
        'name': 'markup.raw'
    },
    {
        'begin': '<code>'
        'end': '</code>'
        'name': 'phrancis_notes.code'
        'patterns': ['include': '$self']
    }
    {
        'begin': '\\['
        'end': '\\]'
        'name': 'comment.block.phrancis_notes'
        'patterns': ['include': '$self']
    },
    {
        'begin': '{'
        'end': '}'
        'name': 'comment.block.phrancis_notes'
        'patterns': ['include': '$self']
    },
    {
        'match': '//.*'
        'name': 'comment.line.double-slash.phrancis_notes'
    },
    {
        'match': '(@TODO)|(\\^temp)|(\\^staging)'
        'name': 'phrancis_notes.keyword.todo'
    },
    {
        'match': '(@COMPLETED)|(@RESOLVED)|(@DONE)'
        'name': 'phrancis_notes.keyword.completed'
    },
    {
         'match': '(@QUESTION)|(@UPDATE)|(@EXAMPLE)|(\\^dev)'
         'name': 'phrancis_notes.keyword.question'
    },
    {
        'match': '(@IMPORTANT)|(@EXCEPTION)|(\\^production)'
        'name': 'phrancis_notes.keyword.important'
    },
    {
        'match': '(@WARNING)|(@DANGER)|(@ERROR)|(\\^NoUndo)'
        'name': 'phrancis_notes.keyword.warning'
    },
    {
        'match': '(@NOTE)|(\\*\\w+)'
        'name': 'phrancis_notes.keyword.note'
    },
    {
        'match': '(@FUTURE)|(@TOLEARN)'
        'name': 'phrancis_notes.keyword.future'
    },
]
